@import '../../assets/style/mixin.scss';

.comAside{
    overflow: hidden;
    flex: 1;
    line-height:50px;
    background: #409EFF;
    .asideWrap{
        width:100%;
        li{
            &.asideItem{ 
                text-align: center;
            }
            &.active{
                background: #fff;
                color:#409EFF;
                text-align: center;
            }
            &.default{
                
            }
        }
    }
}